h1 {
    font-weight: bold;
    color: black;
    font-size: 50px;
    text-align: center;
    text-decoration-style: solid;
    text-decoration-line: inherit;
}

button {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    text-align: center;
    border-image-outset: 10px;
    font-size: 20px;
}

body, html {
    height: 100%;
  }
  
  .bg {
    background-image: url("recipes/recipe.jpg");
  
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }