h1 {
    font-weight: bold;
    color: gold;
    font-size: 50px;
    text-align: center;
}

button {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    text-align: center;
    border-image-outset: 10px;
    font-size: 20px;
}